<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <div class="logo"><i class="fa-solid fa-clapperboard" style="color: #ffffff;"></i></div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My list", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", new_list_path(:id), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          </li>
      </ul>
    </div>
  </div>
</div>
<%# banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapercave.com/wp/wp7490789.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<%# list cards %>
<h2 class="text-center">My lists</h2>
  <div class="row row-cols-4">
    <% @lists.each do |list| %>
    <div class="col">
      <div class="list-img" style="background-image: linear-gradient(rgb(103 101 89 / 59%), #fbc64cb8), url(https://m.media-amazon.com/images/I/81SBbZx7egL._AC_UF894,1000_QL80_.jpg);">
          <div class="list-card">
          <li id="list-link"><%= link_to list.name, list_path(list) %></li>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>

<h4 class="new-list-btn" ><%= link_to "Create a new list", new_list_path(@list)%></h4>

<footer><div class="footer">

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Career</a></li>
</ul>
</div>

<div class="footer-text"><small>
© 2024 Designed By: Giv-08</small>
</div>
</div></footer>
