<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://www.pngitem.com/pimgs/m/301-3014574_popcorn-cinema-png-download-movie-popcorn-transparent-background.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My list", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", new_list_path(:id), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/02/48/67/77/360_F_248677769_aH5CKcSQo5j5VEeovQpowoLxf7CmNZto.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>
<h2 class="text-center">Movie lists</h2>
<ul>
  <% @lists.each do |list| %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
  <div>
    <li><%= link_to list.name, list_path(list) %></li>
      <% end %>
  </ul>
</div>
  </div>
</div>

<%= link_to "Create a new list", new_list_path(@list), class: "btn btn-success" %>
