<%# nav-bar %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <div class="logo"><i class="fa-solid fa-photo-film"></i></div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My list", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", new_list_path(:id), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <div class="avatar"></div>
          </li>
      </ul>
    </div>
  </div>
</div>

<%# banner %>
<%# <header>
	<div class="overlay">
<h1>Simply The Best</h1>
<h3>Reasons for Choosing US</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
	<br>
		</div>
</header> %>
<header>
<div class="overlay" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key%>')"
>
  <div class="container">
    <h3><%= @list.name %></h3>
  </div>
</div>
</header>

<%# movie cards %>
<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col-6">
      <div class="movie-card">
        <img class="movie_poster" src="<%= bookmark.movie.poster_url %>"> <br>
        <li>
        <%= bookmark.movie.title %><br>
        "<%= bookmark.comment %>" <br>
        <%= bookmark.movie.rating.to_i.times do%>
        <i class="fa-regular fa-star fa-xs" style="color: #ffba24;"></i>
        <% end %>
       <%= link_to list_path(@list), class: 'nav-btn', data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-trash-can"></i>
            <% end %>
    </li>
      </div>
    </div>
  <% end %>
</div>

<section class="buttons">
<div class="button-container">
  <div class="btn-hover">
  <span><%= link_to "Back to movie lists", lists_path(@list) %></span>
    </div>
</div>

<div class="button-container">
  <div class="btn-hover">
<span><%= link_to "Add a bookmark to this list", new_list_bookmark_path(@list) %></span>
  </div>
</div>
</section>
